body { background-color: azure;}
img {
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
}

h1 {color: blue}

p { color: purple}

.table-container{
    margin: 10px auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 50%;
}
th, td {
    border: 2px solid black;
    padding: 12px;  
    text-align: center;

}

th {
    background-color: greenyellow;
}